footer {
    background-color: pink;
    margin: 20px;
    pad: 20px;
    border-top: 1 px solid black;
    text-align: center;

    div {
        margin: 20px;
        font-size: 15px;

        div {
            font-size: 20px;

            h2 {}

            p {}

            p {}
        }

        div {
            h2 {}

            a {
                img {
                    width: 60px;
                    height: 60px;
                }
            }

        }
    }
}