header {
    background-color: pink;
    padding: 15px 0;
     nav {
        margin-left: auto;
         div {
            a {
                img {
                    max-width: 150px;

                }
            }

            button {
                span {}

            }

            div {
                ul {
                    li {
                        a {
                            color: #000000;
                            margin-right: 20px;
                        }
                    }
                }
            }
        }
    }

}